@import 'tailwindcss';

@theme inline {
  --color-black: #000;
  --color-black-2: #111111;
  --color-white: #fff;

  --color-background: var(--color-black);
  --color-foreground: var(--color-white);

  --z-index-navbar: 80;

  --spacing-gutter: 1.25rem;

  /* Remember to add all font-size classes to extendTailwindMerge() inside a file "src/utils/tailwind.ts" */
  --text-14px: 0.875rem;
  --text-16px: 1rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  text-transform: inherit;

  &:disabled {
    cursor: not-allowed;
  }
}

.container {
  margin-inline: auto;
  padding-inline: var(--spacing-gutter);
  max-width: calc(103.75rem - var(--spacing-gutter) * 2);
}

.interaction-area::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 45px;
  height: 100%;
  min-height: 45px;
  transform: translate(-50%, -50%);
}
