@import 'tailwindcss';

@theme inline {
  --color-black: #000;
  --color-white: #fff;

  --color-background: var(--color-black);
  --color-foreground: var(--color-white);

  --z-index-navbar: 80;

  --spacing-gutter: 1.25rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
